.App {
  text-align: center;
  /* background-image: "https://i.pinimg.com/originals/f6/20/a1/f620a179ca1acfd15a0754701677fb58.jpg"; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.background{
  size: 1em;
  z-index: -1;
}
.background-img{
  height: 500px;
  z-index: -1;

}
.display{
  background-image: "https://www.vhv.rs/dpng/d/463-4635355_svg-black-and-white-arcade-clipart-arcade-game.png"
}

.text {
  color: blue
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  
}
.button {
  margin:20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
