h1 {
  font-family: BladeR;
  color: #ffc400;
  font-size: 50px;
}

span{
  /* font-size: 20px; */
  color: #ffc400;
}

h4 {
  width:100%;
  text-align: center;
  background-color: #ffc400;
  color: #482880;
  font-size: 22px;
}

p {
  font-size: 20px;
}

.body {
  align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.description {

  align-self: center;
}

.picture{
  width: 100%;
  justify-content: center;
}
.resume {
  width: 75%;
  align-self: center;
  display: flex;
  justify-content: center;
}
.resume-list {
  font-size: 24px;
  width: 620px;
  display: flex;
  justify-content: space-between;
}

.express-tech, .rails-tech, .phaser-tech, .react-tech{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.frontend-react, .frontend-phaser, .Backend-rails, .Backend-express {
  font-size: 16px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.frontend-phaser {
  
  margin-top: 1em;
}


.react-icon, .phaser-icon, .rails-icon, .express-icon{
  height: 10%;
  width: 10%;
}

.stack {
  width: 100%;
  margin-top: 50px;
}

.key-learnings{
  width:100%;
  padding-right: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
