.gameCase{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 1024px;
  height: 786px;
  margin: 0 auto;
  border: 10px solid #ffc400;
}

.gameScreen{
  margin-top: 100px;
  height: 1000px
}