.icons {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

#username-label {
  color: #ffc400;
}

#password-label {
  color: #ffc400;
}

.signin{
  font-family: BladeR;
}