.title{
  font-family: BladeR;
  font-size: medium;
  color: #ffc400;
}

.div-navbar-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.div-buttons-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-buttons-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiButton-label {
  color: #ffc400;
  text-shadow: #000;
}

.navbar{
  position: fixed;
  height: 7vh;
}
