.nav-button {
  color: white;
}

.div-navbar-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.div-buttons-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-buttons-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiButton-label {
  color: white;
}