#username-label {
  color: #ffc400;
}

#password-label {
  color: #ffc400;
}


#username {
  color: #ffc400;
}

#password {
  color: #ffc400;
}

#email-label {
  color: #ffc400;
}

#passwordConfirmation-label{
  color: #ffc400;
}

.MuiTypography-h5 {
  color: #ffc400;
}